body {
    background-color: #DAE1E6
}

.bg-green {
    background-color: #29B473;
}

.text-green {
    color: #29B473;
}

.text-white {
    color: white;
}

.bg-grey {
    background-color: #F0F0F0;
}

.border-b-grey {
    border-bottom: 1px solid #E0E0E0
}

.border-t-grey {
    border-top: 1px solid #E0E0E0
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}